<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content="{% block meta_description %}Une description par défaut pour le SEO.{% endblock %}"/>

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{{ encore_entry_link_tags('app') }}

		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% include 'partials/_navbar.html.twig' %}

		<div id="flash-messages" class="container mx-auto mt-4">
			{% include 'partials/_flash_messages.html.twig' %}
		</div>

		{% block body %}{% endblock %}


		{% include 'partials/_footer.html.twig' %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
